@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background: #ecf0f0;
}

/* =====================================utility class=========================================== */

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ===================================== hedar style =========================================== */
.hedar {
  width: 97%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background: #fff;
  border-radius: 0 0 12px 12px;
}

.hedar img {
  width: 136;
  height: 38px;
}

/* .hedar-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  font-size: 1.7rem;
}

.hedar-menu li a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
} */

/* Base reset and styling */
ul.header-menu {
  list-style: none;
  /* margin: 0;
  padding: 0; */
  display: flex;
  gap: 24px;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

.header-menu>li {
  position: relative;
}

.header-menu a {
  display: inline-flex;
  align-items: center;
  /* gap: 6px; */
  text-decoration: none;
  color: #333;
  /* padding: 10px 12px; */
  transition: color 0.3s;
}

.header-menu a:hover {
  color: #007BFF;
  /* Change this to match your theme */
}

/* SVG styling */
.nav-drop-svg {
  display: block;
  /* vertical-align: middle; */
  transition: transform 0.3s ease-in-out;

}

/* Rotate arrow on hover (optional) */
.dropdown:hover .nav-drop-svg {
  transform: rotate(180deg);
}

/* Dropdown content */
.dropdown-content {
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  padding: 10px 0;
  z-index: 999;
}

.dropdown ul {
  width: 100%;
  list-style: none;
}

.dropdown-content a {
  display: block;
  padding: 10px 16px;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
  color: #007BFF;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: flex;
}

.hedar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Search Circle */
.item-serach {
  width: 40px;
  height: 40px;
  background: #b8bec1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #696363;
  cursor: pointer;
}

/* Let’s Talk Button */

.item-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
  background: #1E8A8A;
  color: transparent;
  /* hide original text */
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(33, 139, 140, 0.25);
}

/* Original text (slides up on hover) */
.item-btn::after {
  content: "Let's Talk";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  color: white;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* New text (comes in from bottom) */
.item-btn::before {
  content: "Let's Talk";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(100%);
  opacity: 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Hover effects */
.item-btn:hover::after {
  transform: translateY(-100%);
  opacity: 0;
}

.item-btn:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}

/* Arrow circle styling */
.item-btn .erro {
  display: inline-flex;
  background-color: #000;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}


.item-btn .erro i {
  font-size: 16px;
  transform: rotate(-45deg);
  transition: transform 0.4s ease;
}

.item-btn:hover .erro i {
  transform: rotate(0deg);
}

.arrow-circle {
  background-color: #0D1D1D;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger */
.hemburgur {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  top: 25px;
  right: 30px;
  /* z-index: 9; */
}

.hemburgur .line {
  height: 2px;
  background-color: #000;
  display: block;
  transition: width 0.3s ease;
}

.hemburgur .line1 {
  width: 22px;
}

.hemburgur .line2 {
  width: 18px;
}

.hemburgur .line3 {
  width: 14px;
}

.hemburgur:hover .line {
  width: 22px;
}

.modal {
  position: fixed;
  top: -20px;
  right: -100%;
  max-width: 500px;
  width: calc(100% - 40px);
  height: 95vh;
  margin: 40px;
  overflow: hidden;
  z-index: 1000;
  transition: right 0.4s ease-in-out;
}




.modal:target {
  right: 0;
}

.modal:target:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-body {
  max-height: 90vh;
  overflow-y: auto;
}


.modal-content {
  height: 100%;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
  overflow-y: auto;
  border-radius: 1.7rem;
  background: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
  transition: right 0.4s ease;
  z-index: 999;
  background: radial-gradient(circle at center, #0C2C2B, #071D1C);
  scrollbar-width: thin;
  scrollbar-color: #009688 #ffffff;
}


/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-radius: 15px;
  /* Rounded top-right corner */
}

::-webkit-scrollbar-thumb {
  background-color: #009688;
  /* Teal */
  border-radius: 10px;
  border: 2px solid transparent;
  /* Optional spacing look */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00796B;
}



.close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.close-button:hover {
  transform: rotate(90deg);
}

.modal img {
  width: 138px;
  height: 40px;

}

.modal p {
  color: #A9B8B8;
  font-size: 1.5rem;
  font-weight: 500;
}

.modal h5 {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
}

.modal input[type='search'] {
  height: 60px;
  outline: none;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  padding-left: 2rem;
  /* padding-top: -1rem; */
}

.modal input[type='search']::placeholder {
  font-size: 1.7rem;
  font-weight: 200;
}

.accordion-nav {
  display: none;
}

.hem-serch i {
  position: absolute;
  cursor: pointer;
  right: 60px;
  border-left: 1px solid #A9B8B8;
  padding-bottom: 19px;
  padding-left: 28px;
  gap: 2rem;
  padding-top: 19px;
}

.hem-con {
  padding-top: 30px;
}

.contect-item span {
  color: #A9B8B8;
  font-size: 14px;
  font-weight: 300;
}

.contect-item a {
  color: #fff;

  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
}

.hem-h5 {
  padding-top: 30px;
}

.ham-footer i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  gap: 2rem;
  border-radius: 50%;
  background-color: rgba(38, 87, 96, 0.3);
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.serch-demo {
  background: #fff;
}

.serch-demo {
  padding-left: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-top: 50px;
  border-radius: 2rem;
  text-align: center;
}

.serch-demo input[type='search'] {
  height: 60px;
  outline: none;
  width: 50%;
  border-radius: 1rem;
  position: relative;
  padding-left: 2rem;

}

.serch-demo i {
  position: absolute;
  cursor: pointer;
  right: 375px;
  border-left: 1px solid #A9B8B8;
  padding-bottom: 19px;
  padding-left: 28px;
  gap: 2rem;
  padding-top: 19px;
}

.serch-demo input[type='search']::placeholder {
  font-size: 1.7rem;
  font-weight: 200;
}

@media (max-width: 480px) {

  /* Hide dropdown menu, search item, and button inside header menu */
  .header-menu .dropdown {
    display: none;
  }

  .hedar-items .item-serach {
    display: none;
  }

  .item-btn {
    display: none;
  }

  .modal {
    margin-top: 30px;
    margin-right: 6px;
  }

  .modal-content p,
  h5,
  input,
  .hem-serch i {
    display: none;
  }


}

@media (max-width: 768px) {
  .header-menu .dropdown {
    display: none;
  }

  .hedar-items .item-serach {
    display: none;
  }

  .item-btn {
    display: none;
  }

  .accordion-nav {
    width: 100%;
    display: block;
  }

  .accordion-list {
    list-style: none;
  }

  .accordion-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* .accordion-label:hover {
  background: #E6F2F2;
} */
  .accordion-icon {
    transition: transform 0.3s ease;
  }

  /* Hide content by default */
  .accordion-content {
    max-height: 0;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    list-style: none;
    transition: max-height 0.4s ease;
    padding-left: 50px;
  }

  .accordion-content ul li a {
    list-style: none;
  }

  .accordion-content li {
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .accordion-content li a {
    padding-bottom: 5px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }

  /* Show content when checked */
  .accordion-toggle:checked+.accordion-label+.accordion-content {
    max-height: 500px;
    /* enough height for all items */
  }

  /* Rotate icon when open */
  .accordion-toggle:checked+.accordion-label .accordion-icon {
    transform: rotate(180deg);
  }

  /* For items without submenus */
  .no-submenu .accordion-label {
    padding-right: 20px;
    text-decoration: none;
  }

  .contect-item {
    padding-left: 20px;
  }

  .ham-footer {
    padding-left: 20px;
  }
}


/* ========================= secand ========================= */
.secand {
  width: 100%;
  height: auto;
  display: flex;
  gap: 2rem;
  padding-top: 10px;
  margin-bottom: 20px;
}

.secand-1 {
  width: 100%;
  background: #0c1e21;
  color: #A9B8B8;
  border-radius: 12px;
  padding: 70px 40px 70px 50px;
  /* text-align: justify; */
  justify-content: center;
}

/* .secand-1-top svg {
  width: 30px;
  height: 30px;
  color: #fff;
} */

.secand-1-top {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px dotted #b8bec1;
  left: 40px;
  padding: 6px 10px 6px 10px;
  margin-bottom: 20px;
  width: fit-content;
}

.secand-1-top h3 {
  font-size: 13px;
}


.secand-1 h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}

.secand-1 span {
  color: #1e8a8a;
}

.secand-1-bottom {
  display: flex;
  align-items: center;
  padding: 23px 0;
  margin-top: 40px;
  margin-right: 20px;
  border-top: 1px dotted #ecf0f0;
  border-bottom: 1px dotted #ecf0f0;
}

.animetion {
  display: inline-flex;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 15px;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.animetion svg {

  transition: transform 0.4s ease;
}

.animetion:hover svg {
  transform: rotate(0deg);
}

.animetion svg {
  width: 70px;
  height: 70px;
}

.secand-1-bottom p {
  border-left: 1px dotted #ecf0f0;
  font-size: 17px;
  padding-left: 44px;
}

.secand-2 {
  width: 100%;
  position: relative;
}

.secand-2 img {
  width: 100%;
  height: 600px;
  border-radius: 1.5rem;
}

.secand-2-ph {
  height: 250px;
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  /* border: 1.7rem solid #ecf0f0; */
}

.border-top-right {
  background-color: #ecf0f0;
  border-top: 15px solid #ecf0f0;
  border-right: 15px solid #ecf0f0;
  border-top-right-radius: 10px;
  left: 0;
  bottom: 0;
  position: absolute;
}

.secand-2-ph img {
  width: fit-content;
  height: 50px;

}

.images-2 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.image-icon {
  width: 50px;
  height: 50px;
  background: #1e8a8a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.secand-2-ph h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.secand-2-ph p {
  font-size: 18px;
  color: #567373;
}

.secand-2-ph ::after {
  content: "";
  position: absolute;
  left: 0;
  top: -27px;
  width: 13px;
  height: 13px;
  transform: rotate(-90deg);
  z-index: 10000;
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2011%2011'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M11%200L0%200V11C0%204.92487%204.92487%200%2011%200Z'%20fill%3D'%23ecf0f0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.secand-2-ph::before {
  content: "";
  position: absolute;
  right: -28px;
  bottom: 0;
  width: 13px;
  height: 13px;
  transform: rotate(-90deg);
  z-index: 10000;
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2011%2011'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M11%200L0%200V11C0%204.92487%204.92487%200%2011%200Z'%20fill%3D'%23ecf0f0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .secand-1 h1 {
    font-size: 2.4rem;
  }

}

@media (max-width: 768px) {
  .secand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .secand-1 h1 {
    font-size: 3rem;
  }

  .secand-1-bottom p {
    font-size: 13px;
  }

  .animetion {
    width: 70px;
    height: 70px;
  }
}


/* =====================  center style   ================================ */

.center {
  padding-bottom: 120px;
  padding-top: 120px;
}

.secand-hedar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.secand-hedar .secand-hedar-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px dotted #b8bec1;
  padding: 2px 10px;
}

.secand-hedar svg {
  width: 25px;
  height: 23px;
}

.secand-hedar h3 {
  font-size: 25px;
  font-weight: 300;
}

.center h2 {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 52px;
  /* margin-left: 283px;
  margin-right: 283px; */
  text-align: center;
}

.center span {
  color: #1e8a8a;
}


/* card style */
.card-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.card-container {
  /* padding: 20px; */
  width: 33%;
  height: auto;

}

.card-container .card {
  border: 1px solid #ccc;
  height: auto;
  padding: 40px 20px;
  border-radius: 10px;
  background: #fff;
}

.card-container :hover {
  background-color: #1e8a8a;
}

.card:hover i {
  color: #000;
}

.card i {
  margin-bottom: 30px;
  color: #1e8a8a;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 25px;
}

.card p {
  font-size: 16px;
}

/* ======================midiya query center=============================== */

@media (max-width: 480px) {
  .center h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0px;

  }

  .secand-hedar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
    margin-bottom: 0px;
    width: 100%;
  }

  .center {
    padding: 70px 0;
  }
}

@media (max-width: 768px) {
  .center h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
  }

  .card-main {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    width: 100%;
    margin-bottom: 0px;
  }

  .card h1 {
    font-size: 18px;
  }

}


/* =========================== curcul style========================== */

.blaer {
  padding: 80px 0;
  overflow: hidden;
  /* hide overflow outside the container */
  position: relative;
}

.blaer-line {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  animation: scroll-marquee 30s linear infinite;
  width: max-content;
  /* ensures content isn't restricted */
}

.logo {
  background-color: #fff;
  height: 120px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  flex: 0 0 auto;
  /* prevent shrinking */
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Marquee animation keyframes */
@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.blaer-carcal-1 {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 1px dashed #364e52;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.blaer-carcal-1 h2 {
  font-size: 20px;
  font-weight: 300;
}

.blaer-carcal-1 .d {
  background-color: #1e8a8a;
  border-radius: 10px;
}

.blaer-carcal-1 .h2-demo {
  color: #67787a;
  border-bottom: 1px solid #67787a;
}

.section-3 .left-opacity-section {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  content: "";
  width: 448px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(233, 237, 237)), to(rgba(233, 237, 237, 0)));
  background-image: linear-gradient(90deg, rgb(233, 237, 237) 0%, rgba(233, 237, 237, 0) 100%);
  top: 0;
  left: 0;
  z-index: 2;
}

.section-3 .right-opacity-section {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 1000;
  content: "";
  width: 448px;
  height: 100%;
  background-image: linear-gradient(-90deg, rgb(233, 237, 237) 0%, rgba(233, 237, 237, 0) 100%);
  z-index: 2;
}

/* ==========================media query =================================== */

@media (max-width: 480px) {
  .blaer-carcal-1 h2 {
    font-size: 18px;
    font-weight: 200;
  }

  /* .blaer {
  padding: 50px 0;
  } */
  .blaer-carcal-1 {
    width: 190px;
    height: 190px;
  }

  .logo {
    height: 70px;
    width: 180px;
  }
}

@media (max-width: 768px) {
  .blaer-carcal-1 h2 {
    font-size: 18px;
    font-weight: 200;
  }

  .blaer-carcal-1 {
    width: 220px;
    height: 220px;
  }

  .logo {
    height: 100px;
    width: 180px;
  }
}

/* ================================ srvise=========================== */

.servise {
  padding: 120px 0;
}

.row {
  /* margin: 0 45px; */
  /* padding: 0 10px; */
  display: flex;
  justify-content: center;
  gap: 15px;
  height: auto;
}

.row-1 {
  width: 100%;
  position: relative;
}


.row-1 img {
  width: 100%;
  max-height: 680px;
  height: 100%;
  border-radius: 1.5rem;
}

.row-2-ph {
  /* height: 250px; */
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  position: relative;
  /* border: 1.7rem solid #ecf0f0; */
}

.row-2-ph .row-text {
  font-size: 22px;
  font-weight: 200;
  color: #1e8a8a;
}

.row-top-laft {
  background-color: #ecf0f0;
  border-top: 15px solid #ecf0f0;
  border-right: 15px solid #ecf0f0;
  border-top-right-radius: 10px;
  left: 0;
  bottom: 0;
  position: absolute;
}

/* .secand-2-ph img {
  width: fit-content;
  height: 50px;

} */




.row-2-ph h2 {
  font-size: 50px;
  /* margin-bottom: 15px; */
  padding-top: 25px;
  padding-bottom: 13px;

}

.row-2-ph p {
  font-size: 18px;
  color: #567373;
}

.row-2-ph ::after {
  content: "";
  position: absolute;
  left: 0;
  top: -27px;
  width: 13px;
  height: 13px;
  transform: rotate(-90deg);
  z-index: 10000;
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2011%2011'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M11%200L0%200V11C0%204.92487%204.92487%200%2011%200Z'%20fill%3D'%23ecf0f0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.row-2-ph::before {
  content: "";
  position: absolute;
  right: -28px;
  bottom: 0;
  width: 13px;
  height: 13px;
  transform: rotate(-90deg);
  z-index: 10000;
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2011%2011'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M11%200L0%200V11C0%204.92487%204.92487%200%2011%200Z'%20fill%3D'%23ecf0f0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}


.row-2 {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 15px;
}

.div1 {
  grid-column: span 3 / span 3;
  width: 100%;
  padding: 30px;
  height: auto;
  background: #fff;
  border-radius: 9px;
}

/* .row-2-hedar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
} */

.div2 {
  padding: 30px;
  /* height: auto; */
  background: #1e8a8a;
  border-radius: 9px;
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

.div3 {
  position: relative;
  /* height: 100%; */
  grid-column-start: 3;
  grid-row-start: 2;

}

.div3 img {
  width: 100%;
  border-radius: 9px;
  height: 100%;
  object-fit: cover;
}

.div1 .div1-hedar-1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1.5px dotted #1e8a8a;
  padding: 2px 10px;
  text-align: justify;
  gap: 14px;
  width: fit-content;
  margin-bottom: 20px;

}

.div1-hedar-1 svg {
  width: 25px;
  height: 23px;
}

.div1-hedar-1 h3 {
  font-size: 20px;
  font-weight: 300;
}

.div1 h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.div1 span {
  color: #1e8a8a;
}

.div1-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
  /* background: #fff; */
  color: transparent;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  overflow: hidden;
  /* box-shadow: 0 8px 20px rgba(33, 139, 140, 0.25); */
}

/* Original text (slides up on hover) */
.div1-btn::after {
  content: "Learn More";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  color: black;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* New text (comes in from bottom) */
.div1-btn::before {
  content: "Learn More";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(100%);
  opacity: 0;
  color: black;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
}


/* Hover effects */
.div1-btn:hover::after {
  transform: translateY(-100%);
  opacity: 0;
}

.div1-btn:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}

/* Arrow circle styling */
.div1-btn .err {
  display: inline-flex;
  background-color: #000;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.div1-btn .err i {
  font-size: 16px;
  transform: rotate(-45deg);
  transition: transform 0.4s ease;
}

.div1-btn:hover .err i {
  transform: rotate(0deg);
}

.div2-icon {
  margin-bottom: 20px;
}

.div2-icon i {
  color: #fff;
}

.div2 p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #fff;
}

.div2-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-text h6 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.last-text p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.last-icon i {
  color: #fff;
  padding-bottom: 20px;
}

.vidoe-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px dashed #364e52;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

/* ==========================media query============================== */


@media (max-width: 480px) {
  .div1 h2 {
    font-size: 25px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .servise {
    padding: 80px 0;
  }

  .row-2-ph {
    /* height: 250px; */
    background: #fff;
    padding: 25px 18px 20px 18px;


  }

  .row-2-ph h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .row-2-ph p {
    font-size: 16px;
    font-weight: 400;
  }

  .row-top-laft {
    background-color: #ecf0f0;
    border-top: 15px solid #ecf0f0;
    border-right: 15px solid #ecf0f0;
    border-top-right-radius: 10px;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  .row-1 {
    order: 2;
  }

  .row-2 {
    order: 1;
  }

}

/* ============================= ditels style============================ */
.ditels {
  padding: 120px 0;
}

.ditels-top {
  background: #000;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 120px;
  padding-bottom: 120px;
  border-radius: 9px;
}

.ditels-hader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.ditels-hader .ditels-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted #1e8a8a;
  padding: 2px 10px;
  width: fit-content;
  gap: 4px;
}

.ditels-1 svg {
  width: 23px;
  height: 22px;
  color: #1e8a8a;


}

.ditels-1 h3 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.ditels-hader h2 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.ditels-hader .ditels-h2 {
  color: #1e8a8a;
}

/* swiper-slide */
.swiper1 {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0;
  border-radius: 9px;
  overflow-x: auto;
}

.swiper1 .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-between;
  gap: 15px;
  animation: scroll-my 60s linear infinite;
}

@keyframes scroll-my {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.service-item {
  position: relative;
  width: 344px;
  height: 450px;
  overflow: hidden;
  border-radius: 12px;
  flex: 0 0 auto;
}

.service-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

/* ICON STATE - Default */
.service-icon {
  position: absolute;
  inset: 0;
  background: rgb(54, 78, 82);
  z-index: 3;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: ; */
  /* align-items: center; */
  color: #1e8a8a;
  transition: opacity 0.5s ease, transform 0.5s ease;
  border-radius: 12px;
}

.service-icon .icon-1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.service-icon i {
  font-size: 48px;
  margin-bottom: 20px;
}

.service-icon .icon-none {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-top: 96%;
  text-align: center;
}

/* CONTENT STATE - Hidden initially */
.service-content {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: #1e8a8a7a;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-end;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  /* padding: 20px; */
  text-align: center;
}

/* Heading and Paragraph */
.service-content h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;

}

.service-content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
}

/* Hover Effects */
.service-item:hover .service-icon {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.service-item:hover .service-content {
  transform: translateY(0%);
  opacity: 1;
}

/* Learn More Button */
.text-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: 600;
  text-transform: capitalize;
  color: transparent;
}

.text-btn::before,
.text-btn::after {
  content: "Learn More";
  position: absolute;
  left: 20px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.text-btn::after {
  transform: translateY(0%);
  opacity: 1;
}

.text-btn::before {
  transform: translateY(100%);
  opacity: 0;
}

.text-btn:hover::after {
  transform: translateY(-100%);
  opacity: 0;
}

.text-btn:hover::before {
  transform: translateY(0%);
  opacity: 1;
}

/* Arrow */
.text-btn .errv {
  display: inline-flex;
  margin-left: 10px;
  background: #fff;
  color: #1e8a8a;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.text-btn .errv i {
  transform: rotate(-45deg);
  transition: transform 0.4s ease;
}

.text-btn:hover .errv i {
  transform: rotate(0deg);
}


.hover-section {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #001f3f;
  /* dark blue */
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* Default State */
.default-state {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  z-index: 2;
  transition: opacity 0.4s ease;
}

.center-icon {
  font-size: 48px;
  margin-bottom: 20px;
}

/* Hover State Hidden Initially */
.hover-state {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
      rgba(0, 128, 0, 0.8),
      rgba(0, 128, 0, 0.8)
    ),
    url('https://via.placeholder.com/400') center/cover no-repeat; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  opacity: 0;
  transition: all 0.6s ease;
  z-index: 1;
}

/* Heading */
.main-heading {
  font-size: 24px;
}

.sub-heading {
  font-size: 16px;
  opacity: 0.9;
}

.cta-button {
  padding: 10px 20px;
  background: white;
  /* color: green; */
  border: none;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.cta-button:hover {
  background: #e0e0e0;
}

/* On Hover Effects */
.hover-section:hover .default-state {
  opacity: 0;
}

.hover-section:hover .hover-state {
  top: 0;
  opacity: 1;
}

/* ==========================media query============================== */

@media (max-width: 480px) {
  .ditels-hader h2 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 10px;
  }

  .ditels {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .service-item {
    position: relative;
    width: 234px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    flex: 0 0 auto;
  }


  .ditels-top {
    background: #000;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 9px;
  }
}

/* ========================== portfolio style ============================== */

/* .portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
} */

.portfolio-main {
  /* margin-left: 40px;
  margin-right: 40px; */
  padding-left: 12px;
  padding-right: 12px;
}

.portfolio-m-text .portfolio-hedar-1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1.5px dotted #1e8a8a;
  padding: 2px 10px;
  text-align: justify;
  gap: 14px;
  width: fit-content;
  margin-bottom: 20px;

}

.portfolio-m-text svg {
  width: 25px;
  height: 23px;
}

.portfolio-hedar-1 h3 {
  font-size: 20px;
  font-weight: 300;
}

.portfolio-hedar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}

.portfolio-m-text h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.portfolio-m-text p {
  font-size: 16px;
  font-weight: 400;
  color: #364e52;

}

.portfolio-m-text span {
  color: #1e8a8a;
}

.portfolio-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
  background: #1E8A8A;
  color: transparent;
  /* hide original text */
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(33, 139, 140, 0.25);
}

/* Original text (slides up on hover) */
.portfolio-btn::after {
  content: "More Projects";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  color: white;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* New text (comes in from bottom) */
.portfolio-btn::before {
  content: "More Projects";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(100%);
  opacity: 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Hover effects */
.portfolio-btn:hover::after {
  transform: translateY(-100%);
  opacity: 0;
}

.portfolio-btn:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}

/* Arrow circle styling */
.portfolio-btn .arew {
  display: inline-flex;
  background-color: #000;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}


.portfolio-btn .arew i {
  font-size: 16px;
  transform: rotate(-45deg);
  transition: transform 0.4s ease;
}

.portfolio-btn:hover .arew i {
  transform: rotate(0deg);
}


.portfolio-m-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  grid-auto-rows: 450px;
}

.portfolio-div1 {
  grid-column: span 3 / span 3;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.portfolio-div2 {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.portfolio-div3 {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.portfolio-div4 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.portfolio-m-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.portfolio-m-img {
  padding-top: 50px;
}

.portfolio-div1 img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}


.portfolio-div2 img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.portfolio-div3 img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.portfolio-div4 img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.portfolio-div1:hover img {
  transform: scale(1.1);
}

.portfolio-div2:hover img {
  transform: scale(1.1);
}

.portfolio-div3:hover img {
  transform: scale(1.1);
}

.portfolio-div4:hover img {
  transform: scale(1.1);
}

.portfolio-div1,
.portfolio-div2,
.portfolio-div3,
.portfolio-div4:hover .portfolio-div-text {
  opacity: 1;
}

/* Top label text */
.connect {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #00f0ff;
  margin-bottom: 10px;
}

/* Bottom content */
.txt-bottom h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.flet {
  /* display: none; */
  display: inline-flex;
  background-color: #364e52a9;
  color: #fff;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}


.flet i {
  font-size: 16px;
  transform: rotate(-45deg);
  transition: transform 0.4s ease;
}

.bottom-flet:hover .flet i {
  transform: rotate(0deg);
  background-color: #1E8A8A;
}

.bottom-flet:hover .flet {
  background-color: #1E8A8A;
}

.portfolio-div-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 25px 20px;
}

.txt-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.txt-bottom h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.connect {
  border-radius: 7px;
  background-color: transparent;
  display: -webkit-inline-box;
  backdrop-filter: blur(8px);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 4px;
}


/* =================================== media query============================ */




@media (max-width: 768px) {
  .portfolio-hedar {
    display: flex;
    flex-direction: column;
    /* display: flex;*/
    align-items: flex-start;
    text-align: justify;

  }

  .portfolio-main {
    /* margin-left: 40px;
  margin-right: 40px; */
    padding-left: 0px;
    padding-right: 0px;
  }

  .portfolio-m-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-div1,
  .portfolio-div2,
  .portfolio-div3,
  .portfolio-div4 {
    width: 100%;
    height: auto;
  }

  .portfolio-div1 img,
  .portfolio-div2 img,
  .portfolio-div3 img,
  .portfolio-div4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .portfolio-div-text {
    padding: 20px 16px;

  }

  .txt-bottom h4 {
    font-size: 18px;
  }

  .portfolio-m-img img {
    width: 100%;
    height: 350px;
  }

  .portfolio-main {
    padding-top: 70px;
    /* padding-bottom: 70px; */
  }

  .txt-bottom h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .flet {
    display: inline-flex;
    background-color: #364e52a9;
    color: #fff;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  .portfolio-m-text h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;

  }

  .portfolio-m-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}


/* ====================================== tj-countup-section style===================================== */
.tj-countup-section {
  border-radius: 12px;
  overflow: hidden;
  transform: translateY(50%);
}

.tj-countup {
  margin: 0 50px;
  padding: 0 12px;
  border-radius: 12px;
  overflow: hidden;
}

.countup-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  /* position: relative; */
}

.countup-item {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 60px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1E8A8A;
  position: relative;
}

.countup-item h1 {
  color: #fff;
  font-size: 74px;
  font-weight: 500;
}

.countup-item p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;

}

.count-separator {
  position: absolute;
  background-image: url("./img/separator.svg");
  overflow: hidden;
  z-index: 1;
  width: 10px;
  height: 90px;
  top: 50%;
  left: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.15;
  z-index: 10;
}

@media (max-width: 768px) {
  .countup-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
  }

  .countup-item {
    width: 100%;
    padding: 30px 10px;
  }

  .count-separator {
    display: none;
  }

  .tj-countup {
    margin: 0;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .countup-item h1 {
    font-size: 36px;
  }

  .countup-item {
    width: 100%;
    padding: 0 10px;
    padding-bottom: 60px;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1E8A8A;
    position: relative;
  }

  .countup-item {
    padding: 20px 10px;
  }

  .count-separator {
    display: none;
  }

}

@media (max-width: 375px) {
  .countup-item h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
  }

  .countup-item p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

  }

  .tj-countup {
    margin: 0 0;
    padding: 0 0;
    border-radius: 12px;
    overflow: hidden;
  }

  .countup-item {
    width: 100%;
    padding: 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1E8A8A;
    position: relative;
  }

  .count-separator {
    display: none;
  }
}

/* ================================== blog style===================================== */

.blog {
  padding: 0px 16px;
}

.blog-container {
  padding: 120px 0;
  margin: 0 15px;
  /* margin: 0 50px; */
  background-color: #d8e5e5;
  border-radius: 12px;
  overflow-x: auto;
}

.blog-container .blog-main {
  padding: 100px 10px 30px 10px;
  margin: 0 50px;
  border-radius: 12px;
  overflow: hidden;
}

.blog-main .blog-main-hedar-1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1.5px dotted #1e8a8a;
  padding: 2px 10px;
  text-align: justify;
  gap: 14px;
  width: fit-content;
  margin-bottom: 20px;

}

.blog-main-hedar-1 svg {
  width: 23px;
  height: 22px;
}

.blog-main-hedar-1 h3 {
  font-size: 16px;
  font-weight: 700;
}

.blog-main-hedar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}

.blog-main-hedar-name h2 {
  font-size: 48px;
  font-weight: 500;

}

.blog-main-hedar-name span {
  color: #1e8a8a;
}

.blog-main-hedar-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Arrow Buttons (styled like img circles) */
.section-7-contant-erro {
  display: inline-flex;
  gap: 2rem;
  position: relative;
}

.section-7-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  color: #000000;
  font-size: 22px;
  box-shadow: 0 2px 8px rgba(33, 139, 140, 0.08);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.4s;
  z-index: 1;
}

.section-7-arrow i {
  transition: transform 0.4s, opacity 0.4s, color 0.3s;
  opacity: 1;
  position: relative;
  z-index: 2;
}

/* Animate arrow out on hover (directional) */
.section-7-arrow.right-arrow:hover i {
  transform: translateX(100%) scale(0.8);
  opacity: 0;
  color: #fff;
}

.section-7-arrow.left-arrow:hover i {
  transform: translateX(-100%) scale(0.8);
  opacity: 0;
  color: #fff;
}

/* Animate new arrow in on hover using ::after (directional) */
.section-7-arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 22px;
  color: #1E8A8A;
  transition: transform 0.4s, opacity 0.4s, color 0.3s;
  z-index: 2;
  pointer-events: none;
}

.section-7-arrow.left-arrow::after {
  content: "\f053";
  transform: translate(100%, -50%) scale(0.8);
}

.section-7-arrow.right-arrow::after {
  content: "\f054";
  /* fa-chevron-right */
  /* New right arrow comes from left */
  transform: translate(-100%, -50%) scale(0.8);
}

.section-7-arrow.right-arrow:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.section-7-arrow.left-arrow:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  color: #fff;
}

/* Subtle scale and background color on hover */
.section-7-arrow:hover {
  background: #1E8A8A;
  color: #fff;
  box-shadow: 0 4px 16px rgba(33, 139, 140, 0.15);
  transform: scale(1.08);
}

.section-7-arrow.right-arrow:hover::after {
  color: #fff;
}

.wining-section-svg {
  color: #1E8A8A
}

.card-cantenar {
  margin: 0 50px;
  overflow-x: auto;
}

::-webkit-scrollbar {
  display: none;
}

.card-cantener-main {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
  /* overflow: hidden; */
  animation: scrol 30s linear infinite;
}

@keyframes scrol {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.card-cantener-main .card-main-hp {
  min-width: 380px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
  color: #333;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}


.card-main-hp:hover {
  transform: translateY(-5px);
  border: 2px solid #1e8a8a;
}

.card-main-hp i {
  display: inline-block;
  color: #1e8a8a;
  border-radius: 50%;
  margin-bottom: 16px;
}

.card-main-hp p {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 22px;
  border-bottom: 1px dotted rgb(54, 78, 82);
}

.card-text-demo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
}

.card-text-demo img {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: #ccc;
  object-fit: cover;
}

.card-text h4 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.card-text p {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  color: #777;
  border-bottom: none;
}

@media (max-width: 480px) {
  .blog {
    padding: 0px 0px;
  }

  .blog-main-hedar-name h2 {
    font-size: 30px;
    font-weight: 500;
  }

  .blog-main-hedar-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
  }

  .blog-container .blog-main {
    padding: 10px 10px 30px 10px;
    margin: 0 10px;
    border-radius: 12px;
    overflow: hidden;
  }

  .card-cantenar {
    margin: 0 10px;
    overflow-x: auto;
  }

  .card-cantener-main .card-main-hp {
    min-width: 320px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    font-family: "Segoe UI", sans-serif;
    color: #333;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .blog-container {
    margin: 0;
    background-color: #d8e5e5;
    border-radius: 12px;
    overflow-x: auto;
  }

  .blog-container .blog-main {
    padding: 10px 10px 30px 10px;
    margin: 0 10px;
    border-radius: 12px;
    overflow: hidden;
  }

  .card-cantenar {
    margin: 0 10px;
    overflow-x: auto;
  }
}